html {
    min-width: 100vw;


}


body {
    min-height: 100vw;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow-x: hidden;
    background-image: url(imagenes/logos/textura-papel-blanco.jpg);
    background-position: center;


}

.banner1 {
    height: 5vw;   
    background-color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;

}

.Logo {
    width: 4vw;
    margin: 1vw;
}


#redes {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
}


#logopb {
    height: 5vw;
    margin-right: 20px;
}




.wrap {
    margin-left: 9.5vw;
    margin-top: 50px;
    align-items: center;
    width: 80vw;
    height: 80vw;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(0 0 0 / .40), rgb(0 0 0 / .80)), url(imagenes/logos/1X7A5175.JPG);
    background-size: cover;
    background-position: center;
    margin: none;
}

.textoimagen {

    align-items: center;
    color: white;
    font-size: 130%;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 50%;
}

#t1{
    font-family: 'The Fighter', 'Arial Narrow', Arial, sans-serif;
    
}